.env
*.gem
*.rbc
*.so
*.bundle
.bundle
.config
.yardoc
.byebug_history
.versions.conf
.idea
coverage
doc/
.config
coverage/
InstalledFiles
pkg/
rdoc/
spec/reports/
spec/examples.txt
test/tmp/
test/version_tmp/
tmp/
.ruby-version
.ruby-gemset
.ruby-env
gemfiles/*
vendor/
.vscode
