// Callouts
blockquote {
  padding: 0.5rem;
  position: relative;
  isolation: isolate;
  padding-left: 1rem;
  border-radius: 0 $border-radius $border-radius 0;

  &.new,
  &.note,
  &.warning,
  &.important,
  &.highlight {
    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      display: block;
      font-size: 0.8rem;
      letter-spacing: 2px;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }
  }

  &::before {
    inset: 0;
    content: '';
    z-index: -1;
    opacity: .25;
    display: block;
    position: absolute;
    border-radius: inherit;
  }

  &.new {
    border-left-color: $green-300;

    &::before {
      background-color: $green-000;
    }

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $green-300;
    }
  }

  &.note {
    border-left-color: $blue-300;

    &::before {
      background-color: $blue-000;
    }

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $blue-300;
    }
  }

  &.warning {
    border-left-color: $red-300;

    &::before {
      background-color: $red-000;
    }

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $red-300;
    }
  }

  &.important {
    border-left-color: $yellow-300;

    &::before {
      background-color: $yellow-000;
    }

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $yellow-300;
    }
  }

  &.highlight {
    border-left-color: $purple-300;

    &::before {
      background-color: $purple-000;
    }

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $purple-300;
    }
  }
}
