// Dark mode

// Variables
:root {
  --body-background-color: #1c1c1c;

  --body-text-color: var(--grey-lt-300);
  --body-heading-color: var(--grey-lt-300);
  --table-background-color: #171717;
  --main-content-background: transparent;
  --toc-background: rgba(0, 0, 0, 0.1);
  --line-color: rgba(255, 255, 255, 0.1);
  --footer-background: #f9f9f9;
  --search-result-preview-color: var(--white);

  --base-button-color: var(--grey-dk-200);
  --support-button-color: var(--grey-dk-300);
  --border-color: transparent;

  --high-contrast: var(--white);
}

// Code
@import "./code/onedark";

// Custom styles
body {
  > header {
    box-shadow: none;
  }

  > main {
    border-top: 2px solid $red-200;

    > h1 {
      background-color: transparent;
    }
  }

  section#three-steps {
    div.even, div.odd {
      padding: 0 2.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: transparent;
    }

    &::before, &::after {
      left: 0;
      right: 0;
      content: '';
      z-index: -1;
      height: calc(125px + 2rem);
      display: block;
      position: absolute;
      background-color: rgba(black, .1);
    }

    &::before {
      top: 1rem;
    }

    &::after {
      bottom: 1rem;
    }
  }
}

// Search
.search-results {
  box-shadow: none;
  background-color: #171717;
  box-shadow: 0 0 0 10px rgba(#171717, .85);

  &::-webkit-scrollbar-thumb {
    background-color: #282C34;
    border-color: #171717;
    border-width: 0 0 0 $sp-1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

.search-results-list {
  border-right: 1px solid $table-background-color;
}

.search-result {
  background-color: #282C34;
  border-radius: calc(#{$border-radius} / 2);

  &:hover,
  &.active {
    background-color: $grey-dk-200;
  }
}

.search-results-list-item {
  margin-bottom: $sp-1;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.search-result-title {
  color: $white;
  font-weight: 900;
}

.search-result-doc {
  font-weight: 100;

  &.search-result-doc-parent {
    color: rgba(white, .5);
  }

  .search-result-icon {
    color: $link-color;
  }
}

.search-result-previews {
  border-left: 2px solid $link-color;
}

// Code
// Copy button
div.highlighter-rouge,
figure.highlight {
  > button {
    background-color: $body-background-color;
  }
}

// Callouts
blockquote {
  &.new,
  &.note,
  &.warning,
  &.important,
  &.highlight {
    background-color: var(--toc-background);
  }

  &::before {
    display: none;
  }

  &.new {
    border-left-color: $green-100;

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $green-100;
    }
  }

  &.note {
    border-left-color: $blue-100;

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $blue-100;
    }
  }

  &.warning {
    border-left-color: $red-100;

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $red-100;
    }
  }

  &.important {
    border-left-color: $yellow-100;

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $yellow-100;
    }
  }

  &.highlight {
    border-left-color: $purple-100;

    > p:first-child > b:first-child,
    > p:first-child > strong:first-child {
      color: $purple-100;
    }
  }
}
