// Website layout

@mixin content {
  margin: 0 auto;
  width: #{$nav-width + $content-width};
}

body {
  display: grid;
  min-height: 100vh;
  position: relative;
  grid-template-rows: min-content 1fr min-content;

  > header {
    z-index: 2;
    position: relative;
    color: $grey-dk-300;
    background-color: $white;
    box-shadow: 0 2px 5px rgba(black, .2);

    > .content {
      display: grid;
      padding: 0.75rem 1rem;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr min-content;

      img {
        height: 5rem;
      }

      nav {
        gap: 1.75rem;
        display: flex;
        font-size: 1.2rem;
        margin-left: 3rem;
        line-height: 5.25rem;
        font-weight: bold;

        a {
          color: inherit;
          padding: 0 0.5rem;
          text-transform: uppercase;
          border-radius: $border-radius;
          transition: color $transition-duration;

          &:hover {
            color: $link-color;
          }
        }
      }

      section#search {
        height: 3rem;
        position: relative;
        align-self: center;

        &:hover svg.search-icon {
          color: $link-color;
        }

        input.search-input {
          width: 8.5rem;
          position: relative;
          padding-left: 2.75rem;
          border-radius: 100px;
          transition: width $transition-duration;
          border: 1px solid $grey-dk-300;

          &:focus,
          &:hover,
          &.with-results {
            width: 300px;
          }
        }

        label.search-label {
          top: 0;
          z-index: 1;
          position: absolute;

          svg.search-icon {
            transition: color $transition-duration;
          }
        }
      }
    }

    section#beta {
      font-size: 0.8rem;
      padding: 0.85rem 0 0.65rem;
      text-align: center;
      font-weight: 300;
      letter-spacing: 1px;
      background-color: $link-color;
      color: $white;
    }
  }

  > footer {
    color: var(--grey-dk-300);
    background-color: var(--footer-background);

    > cite.content {
      display: block;
      padding: 0.5rem 0;
      font-size: 0.8rem;
      text-align: center;
      font-style: normal;

      a {
        padding: 2px 5px;
        display: inline-block;
      }

      img {
        height: 1.2em;
        display: inline-block;
        vertical-align: sub;
      }
    }
  }

  > * > .content {
    @include content;
    position: relative;
  }

  > main {
    display: flex;
    flex-direction: column;

    > section.content {
      padding: 1.5rem 2.5rem;
      background-color: var(--main-content-background);
    }

    > section.main-content.with-toc {
      gap: 3rem;
      display: flex;
      flex-direction: row-reverse;

      > section.inner-content {
        flex: 1 0 auto;
        max-width: calc(#{$nav-width + $content-width} - 8rem - 300px);
      }

      > details {
        flex: 0 1 300px;
        max-width: 300px;
        align-self: start;
        padding: 1rem;
        border-radius: $border-radius;
        background-color: var(--toc-background);

        summary {
          font-size: 1.2rem;
          font-weight: bold;
          position: relative;
          text-transform: uppercase;
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;
          border-bottom: 1px solid var(--line-color);
        }

        ul {
          margin: 0;
        }

        a {
          display: block;
          overflow: hidden;
          max-width: 100%;
          font-style: normal;
          text-overflow: ellipsis;
          text-decoration: none;
          white-space: break-spaces;
        }
      }
    }

    > h1 {
      background-color: $white;
    }
  }

  section#banner {
    display: grid;
    padding: 2.5rem;
    padding-bottom: 1rem;
    color: var(--high-contrast);
    grid-template-rows: .65fr .35fr;
    grid-template-columns: .65fr .35fr;

    p {
      margin: 0;
      line-height: 1.4;
      align-self: end;
      padding: 0 1rem 1.5rem 0;
      grid-area: 1 / 1 / 2 / 2;
      font-size: $font-size-7;

      b {
        color: $link-color;
      }

      b.graphql {
        color: var(--color-graphql);
      }

      b.ror {
        color: #D30001;
      }
    }

    div.actions {
      gap: 2rem;
      display: flex;
      align-items: start;
      font-size: 1.25rem;
      grid-area: 2 / 1 / 3 / 2;

      .btn {
        text-transform: uppercase;
        border-radius: calc(#{$border-radius} * 2);
        border: 2px solid transparent;
      }

      .btn:not(:hover) {
        color: inherit;
        box-shadow: none;
        border: 2px solid $white;
        background-color: transparent;
      }
    }

    img {
      grid-area: 1 / 2 / 3 / 3;
    }

    + h1 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  section#three-steps {
    position: relative;

    h1 {
      @include content;
      padding: 0 2.5rem;
    }

    div.even, div.odd {
      @include content;

      display: grid;
      padding: 1rem 2.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      position: relative;
      background-color: $white;
      grid-template-rows: .55fr .45fr;
      grid-template-columns: .6fr .4fr;
      grid-template-areas: "title code" "text code";

      h2 {
        margin: 0;
        grid-area: title;
        align-self: end;
      }

      p {
        margin: 0;
        grid-area: text;
      }

      figure.highlight {
        padding: 1rem;
        grid-area: code;
      }
    }

    div.odd {
      grid-template-columns: .4fr .6fr;
      grid-template-areas: "code title" "code text";

      h2, p {
        text-align: right;
      }
    }
  }

  section#banner ~ section#three-steps {
    div.even, div.odd {
      &:first-child {
        margin-top: 0;
        padding-top: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 2rem;
      }
    }
  }

  section#guides {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > section {
      padding: 0.5rem 1rem;
      border-radius: calc(var(--border-radius) * 2);
      background-color: var(--toc-background);
      box-shadow: 0 5px 10px rgba(black, .2);

      > h4 {
        text-align: center;
        border-bottom: 2px solid rgba(black, .1);
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
      }

      > nav {
        gap: 0.35rem;
        display: flex;
        padding: 0.5rem 0;
        flex-direction: column;

        > a {
          padding: 0.15rem 1rem;
          display: inline-block;
          background-color: rgba(white, 0);
          border-radius: var(--border-radius);
          transition: background $half-transition-duration;

          &:hover {
            background-color: rgba(white, .05);
          }
        }
      }
    }
  }
}
