// Override the main font of the website
html {
  font-size: $root-font-size !important;
}

code {
  font-size: 0.875rem !important;
}

a:not([class]) {
  background-image: none;
}

.main-content {
  a:not([class]) {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  ol > li::before {
    top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0;

    code {
      padding: 0.2em 0.5em;
      display: inline-block;
      vertical-align: text-top;
    }
  }

  h1, h2 {
    color: $red-200;
  }

  h4 {
    font-size: $font-size-4 !important;
  }

  h3 > code {
    vertical-align: text-bottom;
  }
}
